In [6]:
import pandas as pd
import numpy as np

In [17]:
df=pd.DataFrame({'A':[1,2],'All Science Journal Classification (ASJC) field name':['1','4| 5| 6'], 'Topic Cluster name': ['A,B','C,D'], 'Topic name':['E,F','G,H']})
def replace_l_to_series (a): #превращает список строки датафрейма в сериес
  return a.split('| ')
def series_to_df (df,column_name): #превращает все сериесы столбца 'All Science Journal Classification (ASJC) field name' в датафрейм, 
#при этом добавляя количество строк по количеству элементов в сериес
  df[column_name]=df[column_name].map(replace_l_to_series)
  return df.explode(column_name)
df=series_to_df(df,'All Science Journal Classification (ASJC) field name')
df

   A  ... Topic name
0  1  ...        E,F
1  2  ...        G,H
1  2  ...        G,H
1  2  ...        G,H

[4 rows x 4 columns]

In [24]:
def replace_l_to_series_1 (b): #превращает список строки датафрейма в сериес
  return b.split(',')
def series_to_df_1 (df,column_name): #превращает все сериесы  'Topic Cluster name' и 'Topic name' в датафрейм, при этом добавляя количество строк по количеству элементов в сериес
  df[column_name]=df[column_name].map(replace_l_to_series_1)
  return df.explode(column_name)
df=series_to_df_1(df,'Topic Cluster name')
df=series_to_df_1(df,'Topic name')
df

   A  ... Topic name
0  1  ...          E
0  1  ...          F
0  1  ...          E
0  1  ...          F
1  2  ...          G
1  2  ...          H
1  2  ...          G
1  2  ...          H
1  2  ...          G
1  2  ...          H
1  2  ...          G
1  2  ...          H
1  2  ...          G
1  2  ...          H
1  2  ...          G
1  2  ...          H

[16 rows x 4 columns]

In [26]:
c=df['All Science Journal Classification (ASJC) field name'].unique() #уникальные значения по столбцу 'All Science Journal Classification (ASJC) field name'
#Предполагается делать по ним поиск. ///Ищу вариант с выдачей подсказки из списка "с"
c

array(['1', '4', '5', '6'], dtype=object)

In [27]:
d=df['Topic Cluster name'].unique()#уникальные значения по столбцу 'Topic Cluster name'
#Предполагается делать по ним поиск. ///Ищу вариант с выдачей подсказки из списка "d"
d

array(['A', 'B', 'C', 'D'], dtype=object)

In [28]:
e=df['Topic name'].unique()#уникальные значения по столбцу 'Topic name'
#Предполагается делать по ним поиск. ///Ищу вариант с выдачей подсказки из списка "e"
e

array(['E', 'F', 'G', 'H'], dtype=object)