<a href="https://colab.research.google.com/github/KseniiaKolesnichenko/GPN/blob/main/list_series_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame({'A':[1,2],'ASJC-code':['1','4| 5| 6'], 'ASJC-name':['A','D| E| F']})
def replace_l_to_series (a): #превращает список строки датафрейма в сериес
  return a.split('| ')
#df['ASJC-code']=df['ASJC-code'].map(fuck)
#df.explode('ASJC-code')
def series_to_df (df,column_name): #превращает все сериесы столбца в датафрейм, при этом добавляя количество строк по количеству элементов в сериес
  df[column_name]=df[column_name].map(replace_l_to_series)
  return df.explode(column_name)
df=series_to_df(df,'ASJC-name')
series_to_df(df,'ASJC-code')

   A ASJC-code ASJC-name
0  1         1         A
1  2         4         D
1  2         5         D
1  2         6         D
1  2         4         E
1  2         5         E
1  2         6         E
1  2         4         F
1  2         5         F
1  2         6         F